@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-VariableFont_wght.ttf");
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Italic-VariableFont_wght.ttf");
    font-style: italic;
}

:root{
    --background:#fceeb8;
    --border: #002379;
    --do: #FF5F00;
    --o: #FF9F66;
}

::selection{
    background-color: var(--border);
    color: white;
}

*{
    box-sizing: border-box;
}

body{
    background-color: var(--background);
    margin: 0;
    font-family: "Montserrat";
    font-size: 1.5em;
}

#texts{
    width: 80%;
    margin: 2em auto;
}

#textsection{
    width: 100%;
}

#text-left{
    width: 100%;
    height: 10em;
    resize: none;
    min-height: 10em;
    max-height: 80vh;
    overflow-wrap:break-word;
    padding: 1em;
    border: 2px solid var(--border);
    border-radius: 0.5em;
    outline: none;
    font-family: "Montserrat";
    font-size: 1em;
    background-color: var(--background)
}

#text-left:focus{
    outline: none;
}

#text-right{
    resize: none;
    width: 100%;
    font-family: "Montserrat";
    font-size: 1em;
    padding: 1em;
    border: 2px solid var(--border);
    border-radius: 0.5em;
    background-color: var(--background);
    text-align: center;
    align-content:center
}

#text-right:focus{
    outline: none;
}

#switch{
    display: flex;
    border-radius: 0.5em;
    color: white;
    margin-bottom: 1em;
    user-select: none;
    cursor: pointer;
}

#switch-left,#switch-right{
    width: 4em;
    padding: 0.25em 0.5em;
    align-items: center;
    justify-content: center;
    display: flex;
}

#switch-left{
    background-color: var(--o);
    border: 2px solid var(--border);
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    border-right-width: 1px;
}

#switch-right{
    background-color: var(--do);
    border: 2px solid var(--border);
    border-left-width: 1px;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}

#middle{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5em 0;
}

#middle #bit{
    font-size: 1em;
    font-family: "Montserrat";
    outline: none;
    border: 2px solid var(--border);
    border-radius: 0.2em;
    background-color: var(--background);
}

#drag-file{
    display: none;
    width: 100%;
    height: 10em;
    border: 2px dashed var(--border);
    transition: all 0.3s;
}

#drag-file label{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#drag-file input{
    display: none;
}